@{
    ViewBag.Title = "Quienes Somos";
}
<br /><br /><br /><br /><br />
<div class="divContainer">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <hr />
    <br /><br />
    <article>
        Importadora Sol de la India con presencia desde el año 1998 ha traído al mercado ecuatoriano,
        marcas exclusivas como, productos casa de la suerte, inciensos marca Hem, Darshan, GR y maharaní.
        Con una vasta experiencia en la importación de productos aromáticos y decorativos relacionados
        con la armonización de ambientes y el esoterismo; Tiene el placer de ofrecerles a nuestros clientes
        un amplio portafolio de elementos y productos hindúes para la comercialización a pequeña y gran escala.
    </article>
</div>
<br /><br /><br /><br /><br />
