@{
    ViewBag.Title = "Nuestra Empresa";
}
<br /><br /><br /><br /><br />
<div class="divContainer">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <hr />
    <br /><br />
    <h4>Misión</h4>
    <article>
        Somos una empresa dedicada a la importación, comercialización  y distribución de
        elementos decorativos y aromáticos, con el más alto incentivo de traer a nuestros
        clientes novedades, curiosidades y satisfacciones implícitas en nuestros productos.
        Prestando valor agregado con nuestros servicios y asesorías.
    </article>
    <hr />
    <br /><br />
    <h4>Visión</h4>
    <article>
        Permanecer, crecer y competir con la más alta variedad y calidad de productos esotéricos
        y decorativos.
    </article>
</div>
