﻿@{
    ViewBag.Title = "Contacto";
}
@Scripts.Render("~/bundles/contact")
@Scripts.Render("~/bundles/jqueryval")
<br /><br /><br /><br /><br />
<div class="divContainer">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <hr />
    <br /><br />
    <div>
        <address>
            MIDEROS OE8-23 e IMBABURA<br />
            QUITO - ECUADOR<br /><br />
            <abbr title="Phone">Fijo: </abbr>
            (593-02) 2956213<br />
            <abbr title="Phone">Celular: </abbr>
            (5939) 91327196<br />
            <abbr title="Phone">Celular: </abbr>
            (5939) 980307346<br /><br />
        </address>
        <address>
            GARCIA AVILES 8-23 ENTRE 10 DE AGOSTO Y SUCRE<br />
            GUAYAQUIL - ECUADOR<br /><br />
            <abbr title="Phone">Fijo: </abbr>
            2515343<br /><br />           
        </address>
        <address>
            <strong>Administración</strong>
            <a href="mailto:administracion@importadorasoldelaindia.com">administracion@importadorasoldelaindia.com</a>
        </address>
        <address>
            <strong>Gerencia</strong>
            <a href="mailto:gerencia@importadorasoldelaindia.com">gerencia@importadorasoldelaindia.com</a>
        </address>
        <address>
            <strong>Ventas</strong>
            <a href="mailto:ventas@importadorasoldelaindia.com">ventas@importadorasoldelaindia.com</a>
        </address>
        <address>
            <strong>Compras</strong>
            <a href="mailto:compras@importadorasoldelaindia.com">compras@importadorasoldelaindia.com</a>
        </address>
        <br />
    </div>
    <form id="frmContact">
        <div id="divSummaryErrors"><ul class="contact-error"></ul></div>
        <div style="padding:0.2em 0.2em 0.2em 0.2em;margin:0.2em 0.2em 0.2em 0.2em;border:0.2em inset">
            <div><label>Envíanos un mensaje con este formulario de contacto</label></div>
            <br />
            <div><label style="text-align:left;width:6em;">Nombre:</label><input id="name" name="name" type="text" /></div>
            <div><label style="text-align:left;width:6em;">E-mail:</label><input id="email" name="email" type="email" /></div>
            <div><label style="text-align:left;width:6em;">Mensaje:</label><textarea id="message" name="message" cols="40" rows="5"></textarea></div>
            <br />
            <div id="divCapcha" style="padding:0.2em 0.2em 0.2em 0.2em;margin:0.2em 0.2em 0.2em 0.2em;border:0.2em inset">
                <label>Desliza la barra hasta obtener el valor:</label><label id="lblValorAleatorio" style="padding-left:0.2em;"></label>
                <div id="slider" style="margin-bottom:0.3em;"></div>
                <label for="amount">Valor:</label><input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;width:2em;text-align:left;">
            </div>
            <br />
            <p><input id="btnEnviar" class="btn btn-default" href="" type="submit" value="Enviar &raquo;" /></p>
        </div>
    </form>
    <br /><br />
</div>
<br />