@{
    ViewBag.Title = "Productos";
}
@Scripts.Render("~/bundles/gallery")
@Scripts.Render("~/bundles/products")
<noscript>
    <style>
    .es-carousel ul{
        display:block;
    }
    </style>
</noscript>
<script type="text/javascript">
    window.onload = function () {
        $('.body-content').css('opacity', '1');
    }
</script>
<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
    <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
        <div class="rg-image-nav">
            <a href="#" class="rg-image-nav-prev">Previous Image</a>
            <a href="#" class="rg-image-nav-next">Next Image</a>
        </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
            <div class="rg-caption" style="display:none;">
                <p></p>
            </div>
        </div>
    </div>
</script>
<br />
<div class="divContainer">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <hr />
    <div id="rg-gallery" class="rg-gallery">        
        <div class="rg-thumbs">            
            <div class="es-carousel-wrapper" style="display: block;">
                <div class="es-nav">
                    <span class="es-nav-prev">Previous</span>
                    <span class="es-nav-next">Next</span>
                </div>
                <div class="es-carousel">
                    <ul style="width: 1738px; display: block; margin-left: 0px;">
                        <li class="selected" style="margin-right: 3px; width: 69px;">
                        <a href="#" style="border-width: 2px;">
                            <img src="../Content/img/products/thumbs/1.jpg" data-large="../Content/img/products/1.jpg" alt="image01" data-description="Decorativo">
                        </a>
                        </li>
                        <li style="margin-right: 3px; width: 69px;">
                        <a href="#" style="border-width: 2px;">
                            <img src="../Content/img/products/thumbs/2.jpg" data-large="../Content/img/products/2.jpg" alt="image02" data-description="Decorativo">
                        </a>
                        </li>
                        <li style="margin-right: 3px; width: 69px;">
                        <a href="#" style="border-width: 2px;">
                            <img src="../Content/img/products/thumbs/3.jpg" data-large="../Content/img/products/3.jpg" alt="image03" data-description="Decorativo">
                            </a>
                        </li>
                        <li style="margin-right: 3px; width: 69px;">
                        <a href="#" style="border-width: 2px;">
                            <img src="../Content/img/products/thumbs/4.jpg" data-large="../Content/img/products/4.jpg" alt="image04" data-description="Incienso">
                            </a>
                        </li>

                        <li style="margin-right: 3px; width: 69px;">
                            <a href="#" style="border-width: 2px;">
                                <img src="../Content/img/products/thumbs/5.jpg" data-large="../Content/img/products/5.jpg" alt="image05" data-description="Colonia cuadrada tapa y spray de 60 ml.">
                            </a>
                        </li>
                        <li style="margin-right: 3px; width: 69px;">
                            <a href="#" style="border-width: 2px;">
                                <img src="../Content/img/products/thumbs/6.jpg" data-large="../Content/img/products/6.jpg" alt="image06" data-description="Libros esotéricos">
                            </a>
                        </li>
                        <li style="margin-right: 3px; width: 69px;">
                            <a href="#" style="border-width: 2px;">
                                <img src="../Content/img/products/thumbs/7.jpg" data-large="../Content/img/products/7.jpg" alt="image07" data-description="Velas para difusores y decorativas">
                            </a>
                        </li>
                        <li style="margin-right: 3px; width: 69px;">
                            <a href="#" style="border-width: 2px;">
                                <img src="../Content/img/products/thumbs/8.jpg" data-large="../Content/img/products/8.jpg" alt="image08" data-description="imágenes hindúes  en variados tamaños">
                            </a>
                        </li>
                        <li style="margin-right: 3px; width: 69px;">
                            <a href="#" style="border-width: 2px;">
                                <img src="../Content/img/products/thumbs/9.jpg" data-large="../Content/img/products/9.jpg" alt="image09" data-description="Difusores en piedra trabajados a mano">
                            </a>
                        </li>
                        <li style="margin-right: 3px; width: 69px;">
                            <a href="#" style="border-width: 2px;">
                                <img src="../Content/img/products/thumbs/10.jpg" data-large="../Content/img/products/10.jpg" alt="image10" data-description="Figuras en diversos materiales pintados y trabajados a mano">
                            </a>
                        </li>
                        <li style="margin-right: 3px; width: 69px;">
                            <a href="#" style="border-width: 2px;">
                                <img src="../Content/img/products/thumbs/11.jpg" data-large="../Content/img/products/11.jpg" alt="image11" data-description="Colonia en presentación de 1 L hasta 1/8">
                            </a>
                        </li>
                                                
                    </ul>
                </div>
                <div class="es-nav"><span class="es-nav-prev" style="display: none;">Previous</span><span class="es-nav-next">Next</span></div>
                <div class="es-nav"><span class="es-nav-prev" style="display: none;">Previous</span><span class="es-nav-next">Next</span></div>
            </div>            
        </div>
    </div>
    <hr />
    <br />
    <div>Descarga un archivo para imprimir las listas de los productos haciendo click en cada una de las siguientes categorias:</div>
    <br />
    <div class="list-group">
        <a href="~/Content/files/Extractos.pdf" rel="nofollow" target="_blank" class="list-group-item">Extractos</a>
        <a href="#" class="list-group-item">Esencias</a>
        <a href="#" class="list-group-item">Esotéricos</a>
        <a href="#" class="list-group-item">Baños</a>
    </div>
    <br />
</div>